<h1>{{title}}</h1>
<form action="" method="post">
   <input name="name" type="text" placeholder="Ism"><br><br>
   <input name="telefon" type="text" placeholder="Telefon"><br><br>\
   <button type="submit">send</button>
</form>