<h1>{{title}}</h1>

<form action="/update/{{data.id}}" method="post">
    <input type="text" value={{data.name}} name="name" placeholder="Update name"><br><br>
    <input type="text" value={{data.telefon}} name="name" placeholder="Update telefon"><br><br>
    <button type="submit">Send</button>
</form>